---
import Layout from '../layouts/Layout.astro';
import Desserts from '../components/Desserts.astro';
import Cart from '../components/Cart.astro';
---

<Layout title="Welcome to Astro.">
	<div class="container grid grid-cols-2 gap-14">
		<Desserts />
	<aside>
		<Cart />
	</aside>
	</div>
</Layout>

<style>

</style>
