---
import { Image } from 'astro:assets';
import firstLogo from '../assets/illustration-empty-cart.svg';
---

<section class="my-16">
<div class="bg-white px-2 py-2 ">
    <h3 class="text-xl font-semibold text-orange-700 mb-4"> Your cart (0)</h3>
    <Image src={firstLogo} format="svg" alt={'Cake'} loading="lazy" class="mx-auto mb-4 w-24 h-24" />
    <p class="text-center">You  added items will appear here</p>
</div>
</section>